/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woof2"),
         url("") format("woof");
}

/* ******************************** */

/* Colores */
html{
    background-color: #afaeea;
    text-align: 18px;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;

}
/* ******************************** */

/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}






